html, body {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    position: absolute;
    overflow-y: hidden;
    overflow-x: auto;
    bottom: 0;
    top: 64px;
    right: 0;
    left: 0;
}

pre {
    font-family: Consolas, "Courier New", Courier, monospace;
}

.main-container {
    position: absolute;
    bottom: 24px;
    top: 24px;
}

.main-left {
    position: absolute;
    padding: 16px 16px;
    word-spacing: 0;
    width: calc(50% - 70px);
    bottom: 0;
    top: 0;
    left: 24px;
}

.main-right {
    position: absolute;
    padding: 16px 16px;
    word-spacing: 0;
    width: calc(50% - 70px);
    bottom: 0;
    top: 0;
    right: 24px;
}

@media (min-width: 768px) {
    .main-container {
        width: 100%;
        left: 0;
    }

    .title-suffix-small {
        display: none;
    }

    .header-copy-output.show-in-menu {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .main-container {
        width: calc(200% - 20px);
        left: 0;
    }

    .title-suffix-small {
        white-space: nowrap;
        padding-left: 1px;
        font-size: 12px;
        flex-grow: 1;
    }

    .title-suffix-big {
        display: none;
    }

    .header-copy-output.show-in-app-bar {
        display: none !important;
    }
}
