html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}

.main-left {
    position: absolute;
    top: 16px;
    bottom: 80px;
    padding: 4px 16px;
    overflow-y: auto;
    word-spacing: 0px;
}

.main-right {
    position: absolute;
    top: 16px;
    bottom: 80px;
    padding: 0 16px;
    overflow-y: auto;
    word-spacing: 0px;
}

@media (min-width: 768px) {
    .main-left {
        left: 16px;
        width: calc(50% - 26px);
    }

    .main-right {
        right: 16px;
        width: calc(50% - 26px);
    }
}

@media (max-width: 768px) {
    .main-left {
        left: 16px;
        width: calc(100% - 90px);
    }

    .main-right {
        right: calc(-100% + 144px);
        width: calc(100% - 90px);
    }

    .main-left.show-output {
        left: calc(-100% + 144px);
        width: calc(100% - 90px);
    }

    .main-right.show-output {
        right: 16px;
        width: calc(100% - 90px);
    }
}
