html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

pre {
    font-family: Consolas, "Courier New", Courier, monospace;
}

main {
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}

.main-left {
    position: absolute;
    top: 24px;
    bottom: 88px;
    padding: 4px 16px;
    overflow-y: auto;
    word-spacing: 0px;
}

.main-right {
    position: absolute;
    top: 24px;
    bottom: 88px;
    padding: 0 16px;
    overflow-y: auto;
    word-spacing: 0px;
}

@media (min-width: 768px) {
    .title-suffix-small {
        display: none;
    }

    .main-left {
        left: 24px;
        width: calc(50% - 38px);
    }

    .main-right {
        right: 24px;
        width: calc(50% - 38px);
    }
}

@media (max-width: 768px) {
    .title-suffix-small {
        font-size: 12px;
    }
    
    .title-suffix-big {
        display: none;
    }

    .title {
        line-height: 20px;
        padding-top: 12px;
    }

    .main-left {
        left: 24px;
        width: calc(100% - 80px);
    }

    .main-right {
        right: calc(-100% + 108px);
        width: calc(100% - 80px);
    }

    .main-left.show-output {
        left: calc(-100% + 108px);
        width: calc(100% - 80px);
    }

    .main-right.show-output {
        right: 24px;
        width: calc(100% - 80px);
    }
}
