html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}

.main-left {
    position: absolute;
    top: 32px;
    bottom: 96px;
    padding: 4px 16px;
    overflow-y: auto;
    word-spacing: 0px;
}

.main-right {
    position: absolute;
    top: 32px;
    bottom: 96px;
    padding: 0 16px;
    overflow-y: auto;
    word-spacing: 0px;
}

@media (min-width: 768px) {
    .main-left {
        left: 32px;
        width: calc(50% - 50px);
    }

    .main-right {
        right: 32px;
        width: calc(50% - 50px);
    }
}

@media (max-width: 768px) {
    .main-left {
        left: 32px;
        width: calc(100% - 98px);
    }

    .main-right {
        right: calc(-100% + 128px);
        width: calc(100% - 98px);
    }

    .main-left.show-output {
        left: calc(-100% + 128px);
        width: calc(100% - 98px);
    }

    .main-right.show-output {
        right: 32px;
        width: calc(100% - 98px);
    }
}
